.calculator_body {
  max-width: 244px;
  margin: auto;
}
@media (min-width: 540px) {
  .calculator_body {
    max-width: 293px;
    margin: auto;
  }
}

@media (min-width: 760px) {
  .calculator_body {
    max-width: 400px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .calculator_body {
    max-width: 400px;
    margin: auto;
  }
}
