.layout1 {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  background-color: cadetblue;
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.layout1Toggle {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  background-color: cadetblue;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 474px) {
  .layout1 {
    height: 150vh;
  }
  .layout1Toggle {
    height: 150vh;
  }
}
